**/*.log
xl2/native/
xl2/obj/
xl2/tests/*.stylesheet
xl2/bootstrap/
xl2/xl
xlr/obj/
xlr/xlr
xlr/tests/*.stylesheet
xlr/tests/xl.syntax
xlr/tests/builtins.xl
xlr/tests/opt-builtins.xl
xlr/tests/xl
xlr/tests/success.out
xlr/tests/failure.out
xlr/tests/expected.out

